body {
  background-image: url("resources/wallpaper.jpeg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
  padding-right: 10px;
}

#banner { 
  top: 0; 
  left: 0;
  width: 100%; 
  background-color:#857bcc;
  color:white;
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
}

#banner-text a:link {
  color: #1100ff;
}
/* visited link */
#banner-text a:visited {
  color: #78009d;
}
/* mouse over link */
#banner-text a:hover {
  color: #00cd30;
}
/* selected link */
#banner-text a:active {
  color: #800000;
}

#banner-text {
  padding-left: 5rem;
  padding-right: 5rem;
}

#projects {
  backdrop-filter: blur(5px);
  padding: 5px;
  width: 100%;
}
#projects > h1 {
  text-align: center;
  color: black;
}

#projects-small {
  width: 100%;
  margin: auto;
  position: relative;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;

}

.container {  
  margin:auto;
  text-align: center;
  position: relative;
  height: 100%;
  width: 33%;
  display: grid;
  grid-gap: 0px 20px;
  grid-template-areas: "header header"
                        "media about";
  
  margin-top: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 1em;

  background-color: black;
  color: white;

  min-width: 500px;
}

.container-large {
  margin:auto;
  text-align: center;
  position: relative;
  height: 100%;
  width: 82.6%;
  display: grid;
  grid-gap: 0px 20px;
  grid-template-areas: "header header"
                        "media about";
  
  margin-top: 1em;
  padding: 2em;
  border-radius: 1em;

  background-color: black;
  color: white;
}

.header {
  grid-area: header;
}
.media {
  grid-area: media;
}
.about {
  grid-area: about;
  text-align: left;
  line-height: 1.4em;
  position: relative;
  top: -20px;
}

.container-large:hover:after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 15px;
  background-image: conic-gradient(from var(--angle), rgb(255, 255, 154), rgb(197, 167, 0), rgb(255, 255, 154));
  animation: 1s spin linear infinite;

}
.container:hover:after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 15px;
  background-image: conic-gradient(from var(--angle), rgb(0, 0, 255), #857bcc, rgb(0, 0, 255));
  animation: 1s spin linear infinite;

}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
